body {
  color: #ededed;
  background: #9fa6da;
}

.row {
  display: flex;
}

.square {
  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: 2px solid #222;
  box-sizing: border-box;
}

#chess {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.majorButton {
  background-color:#2a3378;
  margin: 10px;
  padding: 5;
  color: aliceblue;
}