@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9fa6da;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: 2px solid #222;
  box-sizing: border-box;
}

#chess {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

.majorButton {
  background-color:#2a3378;
  margin: 10px;
  padding: 5;
}